/* RIGHT TO LEFT */
/*******************************************************
Product list(List) Styles 
********************************************************/
@media (min-width: 992px) {
  .first-in-line {
    clear: both;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  .first-item-of-tablet-line {
    clear: both;
  }
}
.product_list.list > .product_block {
  border: none;
}
.product_list.list > .product_block .product-container {
  border-top: 1px solid #ebeef2;
  padding: 30px 0 30px;
}
.product_list.list > .product_block .product-image-container {
  position: relative;
  border: 1px solid #ebeef2;
  padding: 9px;
}
.product_list.list > .product_block .product-image-container .content_price {
  display: none !important;
}
.product_list.list > .product_block .product-flags {
  color: #353d41;
  margin: -5px 0 10px 0;
}
.product_list.list > .product_block .product-flags .discount {
  color: #f13340;
}
.product_list.list > .product_block h5 {
  min-height: 25px;
}
.product_list.list > .product_block .product-desc {
  margin-bottom: 15px;
  display: block;
}
.product_list.list > .product_block .right-block .right-block-content {

  margin: 0;
  padding-bottom: 16px;
  padding-left: 15px;
}
.rtl .product_list.list > .product_block .right-block .right-block-content {
  border-right: 1px solid #d6d4d4;
  border-left: inherit;
}
.rtl .product_list.list > .product_block .right-block .right-block-content {
  padding-right: 15px;
  padding-left: inherit;
}
.product_list.list > .product_block .right-block .right-block-content .content_price {
  padding-bottom: 10px;
  border: none;
}
.product_list.list > .product_block .right-block .right-block-content .content_price span {
  display: inline-block;
  margin-top: -4px;
  margin-bottom: 14px;
}
.product_list.list > .product_block .right-block .right-block-content .content_price span.old-price {
  margin-right: 8px;
}
.product_list.list > .product_block .right-block .right-block-content .button-container {
  padding-bottom: 20px;
}
.product_list.list > .product_block .right-block .right-block-content .button-container .btn {
  margin-bottom: 10px;
}

/*******************************************************
Product list(Index page) Styles 
********************************************************/
/***** IE code *****/
