
/* customize for body */ 

/* customize for topbar */ 

/* customize for header-main */ 

/* customize for pav-mainnav */ 

/* customize for footer-top */ 

/* customize for footer-center */ 

/* customize for footer-bottom */ 

/* customize for powered */ 

/* customize for product */ 

/* customize for modules */ 

/* customize for highlighted-modules */ 
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.orange {
  color: #e67c26;
}

.bold {
  font-weight: bold;
}
.green{
  color: #94c11f;
}
.margin-top-30 {
  margin-top: 30px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-50 {
  margin-top: 50px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.margin-left-10 {
  margin-left: 10px;
}

.padding-bottom-70 {
  padding-bottom: 70px;
}

.border-dot {
  border-top: 1px dashed  #fff;
}

.pdding-zero{
  padding-left: 0;
}

.size-15 {
  font-size: 15px;
}

.white-b {
  background: #fff;
}

.grey {
  color: #cccccc;
}

.center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

/*Ingrédients*/
.side-header {
  background-color: #333;
  padding: 8px 16px !important;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  line-height: 1;
  font-weight: bold;
  margin: 0 !important
}

.ingredient {
    background-color: #a7d046;
    padding: 13px 16px !important;
    margin-bottom: 0 !important;
    /* padding: 0; */
    border-top: 1px dashed #fff;
    text-transform: uppercase;
    font-size: 13px !important;
    color: #fff;
    /* line-height: 1 !important; */
    font-weight: bold;
}
/*infos*/

.infos {
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

.prix {
  padding: 4px 0;
  border-bottom: 1px dashed #ccc;
  float: left;
  width: 100%;
}

.preparation {
  padding: 4px 0;
  border-bottom: 1px dashed #ccc;
  float: left;
  width: 100%;
}

.difficulte {
  padding: 4px 0;
}
/*icon*/
.icon {
  float: right;
  display: inline-block;
}

i.fa.fa-eur {
  font-size: 20px;
  margin-left: 10px;
}

i.fa.fa-clock-o {
  font-size: 20px;
  margin-left: 10px;
}

/*header article*/

.header-article {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

/*body article*/

.lien, .lien:hover {
  color: #e67c26;
  font-weight: bold;
}

/*preparation*/
.description_pre {
  margin-top: 30px;

}

.title_pre {
  color: #ff6cac;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.myList {
  list-style: decimal;
}
a#post_images {
    width: 100% !important;
}
div#sdsblogArticle {
    padding: 10px;
}
.articleContent img {
    display: block !important;
    margin: 0 auto !important;
    padding: 0;
}
.diff{
	font-size: 19px;
}
div#lipsum {
    width: 100%;
}
span a.post_cat {
    background: #a7d046;
    padding: 6px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    float: right;
    margin-left: 10px;  
    margin-bottom: 20px;  
}
.sdsreadMore .more a {
    float: right;
    padding: 8px 15px;
    font-weight: bold;
    background: #a7d046;
    color: white;
    text-transform: uppercase;
}
.filtre-prduct {
    float: right;
    margin: 30px 20px;
}
.titre-filtre {
    float: left;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
    margin-top: 10px;
}
.filtre-prduct span a.filtre_cat {
    margin-right: 10px;
    float: left;
    background: #584324;
    padding: 15px 27px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;    
}
div#smartblogpost-4 {
    border: 3px solid #d8d1d1;
    border-radius: 4px;
}
p.sdstitle_block {
    background: #a7d046;
    color: white !important;
    text-align: center;
    padding: 12px;
    margin: 0 !important;
}
a.r_more {
    background: #a7d046;
    color: white;
    margin: 0 14px 11px;
    padding: 6px 25px !important;
}
a.read_more {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
p.sdstitle_block a {
    color: white;
}
.articleContent {
    width: 100%;
}
span.nbr_view {
    /*background: #333333;*/
    /*padding: 8px 23px !important;*/
    /*color: white;*/
    /* font-size: 14px; */
    font-weight: 600;
    text-transform: uppercase;
    line-height: 28px !important;
}
.top_counter{
    float: left;
}
/****************************** Style ajouté ******************************/

.imageFeatured {
  width: 130%;
  float: right;
  margin-right: -26px;
}

.sdsarticle-des {
  margin-left: 40px;
  margin-top: 20px;
}

.sdstitle{
  margin-top: 5px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
.sdstitle a {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.description {
  margin-left: 13px;
  width: 100%;
}

.recette {
  border-bottom: 1px dashed;
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 35px;

}

.product-item {
  padding-bottom: 10px;
  margin-left: 51px;
}

.sdsarticleCat {
  padding-bottom: 18px;
  padding-top: 18px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .pb-left-column #image-block img {
    width: initial;
    margin: 0 auto;
    display: block;
  }
  div#quicktabs-wrapper {
    min-height: 0;
  }
  .r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    color: #777; 
    background: transparent;
  }
  .imageFeatured {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .product-item {
    margin-left: 0;
    padding-bottom: 25px;
  }
  .menu_bas ul li a {
    margin-right: 0;
  }
}